<!DOCTYPE html>
<head>
  <title>CongressGameApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hey, Smartie Pants!</h1>
        <h2>Are you smarter than a Congressman?</h2>
        <p>Info about how to play - bare bones</p>
        <p><a class="btn btn-primary btn-lg" href="games.index" role="button">Start playing &raquo;</a></p>
      </div>
    </div>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="http://lorempixel.com/140x140" alt="Generic placeholder image">
          <h2>Users</h2>
          <p>List of users and their stats.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://lorempixel.com/140x140" alt="Generic placeholder image">
          <h2>Roll Call</h2>
          <p>Names of current legislators, scrolling text</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="http://lorempixel.com/140x140" alt="Generic placeholder image">
          <h2>How to play</h2>
          <p>Brief description of the game, its levels, and goals</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->