<head>
  <title>CongressGameApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>

  <div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <blockquote>
        <p>
          Question
        </p> <small>Someone famous <cite>Source Title</cite></small>
      </blockquote>
      <ol>
        <li>
          Answer
        </li>
        <li>
          Answer
        </li>
        <li>
          Answer
        </li>
      </ol>
      <div class="progress">
        <div class="progress-bar progress-success">
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-6 column">
          <ul class="nav nav-pills">
            <li class="active">
               <a href="#"> <span class="badge pull-right">42</span> User</a>
            </li>
            <li>
               <a href="#"> <span class="badge pull-right">16</span> More</a>
            </li>
          </ul><img alt="140x140" src="http://lorempixel.com/140/140/" />
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Panel title
              </h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
            <div class="panel-footer">
              Panel footer
            </div>
          </div>
        </div>
        <div class="col-md-6 column">
          <ul class="nav nav-pills">
            <li class="active">
               <a href="#"> <span class="badge pull-right">42</span> U.S. Representative</a>
            </li>
            <li>
               <a href="#"> <span class="badge pull-right">16</span> More</a>
            </li>
          </ul><img alt="140x140" src="http://lorempixel.com/140/140/" />
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
                Panel title
              </h3>
            </div>
            <div class="panel-body">
              Panel content
            </div>
            <div class="panel-footer">
              Panel footer
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>